.videos-section { padding: 80px 0;
	&__title {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 40px;
	}
	&__subtitle{ margin-bottom: 40px; text-align: center; }
	&__row{ margin: 0 -40px; }
	&__col{ margin-bottom: 40px; padding: 0 40px; }
	&__bottom{ text-align: center; }
	&__buttons{ text-align: center; margin-top: 40px; }

	@include media($lg){ 
		&__title {
			margin-bottom: 24px;
		}
		&__subtitle{ margin-bottom: 24px; }

		&__row{ margin: 0 -22px; }
		&__col{ padding: 0 22px; margin-bottom: 24px; }
		&__buttons{ margin-top: 24px; }
	}

	@include media($md){ padding: 60px 0;
		
		&__row{ margin: 0 -15px; }
		&__col{ padding: 0 15px; }
	}

	@include media($xs){ padding: 40px 0; }
}
