# Игнорируем весь динамический кэш минификации
/frontend/web/minify/

# Разрешаем Git отслеживать текущие тестовые картинки в uploads,
# но игнорировать любые новые временные файлы или кэш внутри неё в будущем
/frontend/web/uploads/**/*
!/frontend/web/uploads/**/*.jpg
!/frontend/web/uploads/**/*.jpeg
!/frontend/web/uploads/**/*.png
!/frontend/web/uploads/**/*.svg
!/frontend/web/uploads/**/*.webp
!/frontend/web/uploads/.gitkeep
