@import "tailwindcss";
@import "./global.css";



/* === 3D-карусель клубов === */
.clubs-carousel {
    perspective: 1200px;
}
.clubs-carousel__track {
    transform-style: preserve-3d;
}
.clubs-carousel__slide {
    backface-visibility: hidden;
}

/* === Скроллбар === */
body::-webkit-scrollbar {
    display: none;
}


/* Скрываем кнопки Яндекс.Карт */
[class*="ymaps-2-1-79-copyrights-pane"],
[class*="ymaps-2-1-79-map-copyrights-promo"] {
    display: none !important;
}